$bgColor: var(--body-bg-light);
$bgColorHEX: #A7BCFF;

$formBgColor: var(--chat-bg-light);
$formBgColorHEX: #CECEF0;


.form__container {
  display: flex;
  height: 100vh;
  background-color: $bgColor;
  align-items: center;
  justify-content: center;

}

.form__wrapper {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 20px;
  margin: 0 15px;
  background: $formBgColor;

  .googleLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    background: #4285f4;
    color: white;
  }

  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .error__message {
      color: #f14040;
      font-size: 14px;
      text-align: center;
    }

    .nicknameInputContainer {
      width: 100%;
      display: flex;
      position: relative;

      span {
        position: absolute;
        left: 7px;
        top: calc(50% - 5px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        color: #5e6fa1;
        font-weight: bold;
      }
      input {
        padding-left: 25px;
        width: 100%;
        color: #5e6fa1;
        font-weight: bold;

        &::placeholder {
          color: black;
          opacity: .6;
          font-weight: normal;
        }
      }
    }


    input {
      padding: 15px;
      border: none;
      border-bottom: 1px solid $bgColor;
      margin-bottom: 6px;
      background-color: transparent;

      &::placeholder {
        color: black;
        opacity: .6;
      }

      &:focus {
        border-bottom: 2px solid $bgColor;
        margin-bottom: 5px;


        &::placeholder {
          opacity: .3;
        }
      }
    }

    .submit {
      background-color: #7b96ec;
      color: white;
      padding: 10px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: all .3s ease;
      margin-top: 15px;

      &:disabled {
        opacity: .5;
        cursor: default;
      }
      &:hover {
        transition: all .3s ease;
        background-color: #5d5b8d;
        border-radius: 10px;
      }
    }

    label {
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #5d5b8d;
      font-size: 12px;
      cursor: pointer;

      img {
        width: 32px;
      }
    }

    .file {
      display: none;
    }
  }

  .noAcc {
    color: #1e1d2e;;
    font-size: 14px;
    margin-top: 10px;

    a {
      color: #1e1d2e;;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .form__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5d5b8d;
    gap: 2px;

    .form__logo {
      font-weight: bold;
      font-size: 24px;
    }

    .form__title {
      font-size: 14px;
    }
  }

}

.changeLanguage {
  display: flex;
  gap: 10px;

  button {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;

    //background-color: var(#{--body-bg-default});
    background: #8da4f1;
    color: var(#{--text-main-default});
    transition: all .3s ease;
    border: 4px solid transparent;

    &:hover {
      transition: all .3s ease;
      background: #5d5b8d;
    }

    &.active {
      border: 4px solid #5d5b8d;
    }
  }
}
