// Media query mixins

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1024px) {
    @content;
  }
}


// Chat styles

.chat {
  flex: 2;
  display: flex;
  flex-direction: column;

  // Chat info section

  .chat__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    height: 70px;
    background-color: #5d5b8d;
    padding: 10px;
    color: lightgray;


    button {
      text-align: center;
      height: 100%;
      width: 30px;
      flex-shrink: 0;
      cursor: pointer;
    }

    .username {
      flex-basis: calc(100% - 60px);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin-left: 10px;
        font-size: 24px;
        font-weight: bold;
      }

    }

    .avatar {
      cursor: pointer;
      flex-basis: 50px;
      height: 50px;
      flex-grow: 0;

    }
  }

  // Chat messages section

  .messages {
    flex-grow: 1;
    background-color: #ddddf7;
    padding: 10px;
    overflow-y: auto;

    .message {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      .message__info {
        display: flex;
        flex-direction: column;
        color: gray;
        font-weight: 300;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .message__content {
        border-radius: 0 10px 10px 10px;
        min-width: 130px;
        max-width: 80%;
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        border: 1px solid lightgray;
        background-color: white;

        p {
          width: 100%;
          height: 100%;
          padding: 10px 10px;
          text-align: left;
          font-size: 18px;
        }

        img {
          max-width: 100%;
        }

        .message__date {
          padding: 5px 10px ;
          font-size: 12px;
          color: lightgray;
        }
      }

      &.owner {
        flex-direction: row-reverse;

        .message__content {
          align-items: flex-end;
          background-color: #8da4f1;
          border-radius: 10px 0 10px 10px;
        }

        p {
          background-color: transparent;
          color: white;
          text-align: right;
        }
        
        
      }
    }
  }

  // Chat input section

  .input {
    height: 50px;
    background-color: white;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    font-size: 18px;

    & > .text {
      @include mobile {
        width: calc(100% - 110px);
      }

      flex-basis: 100%;
      padding: 10px;
      height: 100%;
      flex-shrink: 1;

      &::placeholder {
        color: lightgray;
      }
    }

    .send {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 10px;

      .buttons {
        display: flex;
        align-items: center;
      }

      label {
        margin-right: 10px;
        width: 24px;
        font-size: 30px;
        color: #3e3c61;
        cursor: pointer;
      }

      button {
        padding: 10px 15px;
        color: white;
        border-radius: 15px;
        margin-right: 10px;
        background-color: #8da4f1;
      }

      input {
        display: none;
      }
    }
  }
}

.modal__header {
  text-align: center;
  font-size: 30px;
}


.modal__body {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.modal__body__avatar {
  width: 300px;
  height: 300px;
}