// Media query mixins

@mixin mobile {
  @media (width <= 480px) {
    @content;
  }
}

@mixin tablet {
  @media (width <= 768px) {
    @content;
  }
}

@mixin desktop {
  @media (width <= 1024px) {
    @content;
  }
}

// Sidebar styles

.sidebar {
  height: 100%;
  width: 80px;
  transition: width 0.3s ease;

  &.closed {
    &.mobile {
      width: 0;
    }
  }

  .search {
    border-bottom: 1px solid gray;
    min-height: 60px;

    .results {
      display: flex;
      flex-direction: column;
      z-index: 1000;
    }

    .searchForm {
      display: flex;
      align-items: center;
      color: white;

      input {
        padding: 20px;
        flex-basis: 100%;
        background-color: transparent;
        color: white;
        font-size: 18px;

        &::placeholder {
          color: lightgray;
        }
      }

      button {
        padding: 10px;
        margin-right: 10px;
        font-size: 20px;
        cursor: pointer;
        flex-basis: 40px;
        flex-shrink: 0;

        :hover {
          color: #ddddf7;
        }
      }
    }
  }

  .sidebar_overlay_content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-default);
    transition: all 0.3s ease;

    &.closed {
      transition: all 0.3s ease;
      background-color: var(--darker-bg-default);
      width: 90px;
      flex-basis: 90px;
      overflow: hidden;

      &.mobile {
        width: 0;
      }
    }
  }

  &.closed {
    transition: width 0.3s ease;
    width: 90px;
    overflow: hidden;

    .navbar {
      flex-direction: column;
      height: auto;

      .button__theme {
        display: none;
        margin: 20px 0;
      }

      .logo {
        margin-bottom: 10px;
        text-align: center;
      }

      .user {
        flex-direction: column;
        width: 60px;
        height: 60px;

        .avatar {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

// Chat user styles

.chat__user {
  width: 100%;
  min-width: 80px;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #2f2d52;
  }

  &__avatar {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
  }

  img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
  }

  .chat__user__info {
    display: flex;
    flex-direction: column;
    color: var(--text-main-default);

    span {
      font-weight: bold;
      font-size: 18px;
    }

    p {
      overflow: hidden;
      max-height: 35px;
      font-size: 14px;
      opacity: 0.8;
    }
  }
}

.chats__container {
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chats__container_closed {
  height: calc(100% - 180px);
}

::-webkit-scrollbar {
  position: absolute;
  top: 0;
  right: 0;

  //background-color: #fff;
  width: 5px;

  //display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 44%);
  border-radius: 5px;
}

@include mobile {
  ::-webkit-scrollbar {
    display: none;
  }
}

.chats.closed {
  display: flex;
  align-items: center;
  justify-content: center;

  .chat__user {
    justify-content: center;
  }
}

// Navbar styles

.navbar {
  display: flex;
  align-items: center;
  background-color: var(#{--darker-bg-default});
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;

  &.closed {
    border-bottom: 2px solid var(--chat-bg-default);
  }

  .button__theme {
    cursor: pointer;
    font-size: 25px;
  }

  .user {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    .avatar {
      width: 40px;
      height: 40px;
    }
  }

  .logo {
    font-weight: bold;
  }
}

.logout {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #ffa7c1;
  color: #2f2d52;
  border-radius: 10px;
  margin-top: 10px;
}

// Error message styles

.error {
  color: red;
}

// Popup styles

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 80%);
  transition: 0.3s ease-in-out;

  .popup {
    width: calc(100% - 30px);
    border-radius: 10px;
    max-width: 600px;
    min-height: 100px;
    background-color: var(#{--chat-bg-default});
    padding: 20px;
    position: relative;
    transform: translateY(-100%) scale(0.2);
    transition: all 0.3s ease-in-out;

    .close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 30px;
      color: var(#{--chatInfo-bg-default});
    }

    .popup__profile {
      display: flex;
      align-items: center;
      flex-direction: column;

      .profile__avatar {
        width: 250px;
        height: 250px;
        font-size: 60px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border-radius: 50%;
        border-radius: 50%;

        .blur {
          position: absolute;
          inset: 0;
          opacity: 0.7;
          background-color: rgb(0 0 0);

          label {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: var(#{--text-main-default});
            width: 100%;
            height: 100%;
            text-align: center;
          }
        }

        .profile__avatar_img {
          width: 100%;
          cursor: pointer;
          font-size: 60px;

          &.blurred {
            filter: blur(4px);
          }
        }
      }

      .profile__displayName {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        color: var(#{--text-main-default});

        h2 {
          text-align: center;
          margin-right: 10px;
        }

        svg {
          flex-shrink: 0;
          cursor: pointer;
        }
      }
    }
  }

  &.opened {
    opacity: 1;
    z-index: 10;
    pointer-events: auto;

    & > .popup {
      transform: translateY(0) scale(1);
    }
  }

  &.closing {
    opacity: 0;
  }
}

.langs {
  display: flex;
  gap: 10px;

  button {
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: var(#{--chatInput-bg-default});
    color: var(#{--text-main-default});

    &:hover {
      opacity: 0.8;
    }

    &.active {
      border-bottom: 2px solid red;
    }
  }
}
