$body-bg-light: #a7bcff;
$body-bg-dark: #111219;
$main-bg-light: #8181b7;
$main-bg-dark: #1b1b31;
$darker-bg-light: #5d5b8d;
$darker-bg-dark: #12111f;
$chat-bg-light: #cecef0;
$chat-bg-dark: #1b1b31;
$chatInfo-bg-light: #5d5b8d;
$chatInfo-bg-dark: #12111f;
$chatInput-bg-light: #f0f0ff;
$chatInput-bg-dark: #12111f;
$accent-color-light: #3e3c61;
$accent-color-dark: #2f2d52;
$text-main-light: #f0f0ff;
$text-main-dark: #f0f0ff;
$message-owner-bg-light: #c1b0f9;
$message-owner-bg-dark: #514d9c;
$message-friend-bg-light: #e5e5f2;
$message-friend-bg-dark: #12111f;
$avatar-bg-light: #2f2d52;
$avatar-bg-dark: #2f2d52;
$popup-bg-light: #8181b7;
$popup-bg-dark: #1b1b31;
$message-text-color-light: #101010;
$message-text-color-dark: #f0f0ff;

:root {
  --body-bg-light: #{$body-bg-light};
  --body-bg-dark: #{$body-bg-dark};
  --body-bg-default: var(#{--body-bg-dark});
  --main-bg-light: #{$main-bg-light};
  --main-bg-dark: #{$main-bg-dark};
  --main-bg-default: var(#{--main-bg-dark});
  --darker-bg-light: #{$darker-bg-light};
  --darker-bg-dark: #{$darker-bg-dark};
  --darker-bg-default: var(#{--darker-bg-dark});
  --chat-bg-light: #{$chat-bg-light};
  --chat-bg-dark: #{$chat-bg-dark};
  --chat-bg-default: var(#{--chat-bg-dark});
  --chatInfo-bg-light: #{$chatInfo-bg-light};
  --chatInfo-bg-dark: #{$chatInfo-bg-dark};
  --chatInfo-bg-default: var(#{--chatInfo-bg-dark});
  --chatInput-bg-light: #{$chatInput-bg-light};
  --chatInput-bg-dark: #{$chatInput-bg-dark};
  --chatInput-bg-default: var(#{--chatInput-bg-dark});
  --accent-color-light: #{$accent-color-light};
  --accent-color-dark: #{$accent-color-dark};
  --accent-color-default: var(#{--accent-color-dark});
  --text-main-light: #{$text-main-light};
  --text-main-dark: #{$text-main-dark};
  --text-main-default: var(#{--text-main-dark});
  --message-owner-bg-light: #{$message-owner-bg-light};
  --message-owner-bg-dark: #{$message-owner-bg-dark};
  --message-owner-bg-default: var(#{--message-owner-bg-dark});
  --message-friend-bg-light: #{$message-friend-bg-light};
  --message-friend-bg-dark: #{$message-friend-bg-dark};
  --message-friend-bg-default: var(#{--message-friend-bg-dark});
  --avatar-bg-light: #{$avatar-bg-light};
  --avatar-bg-dark: #{$avatar-bg-dark};
  --avatar-bg-default: var(#{--avatar-bg-dark});
  --popup-bg-light: #{$popup-bg-light};
  --popup-bg-dark: #{$popup-bg-dark};
  --popup-bg-default: var(#{--popup-bg-dark});
  --message-text-color-light: #{$message-text-color-light};
  --message-text-color-dark: #{$message-text-color-dark};
  --message-text-color-default: var(#{--message-text-color-dark});
}
